
#selectedCity {
    font-weight: bold;
}

#citySearch {
    border-bottom: 1px solid gray;
}

img {
    max-width: 50px;
}

.form-label {
    font-weight: bold;
}

.navbar {
    font-weight: bold;
    
}

.forecastText {
    font-weight: bold;
    margin-bottom: 0;
}

.forecast {
   font-weight: bold;
   background-color: #313E62;
}

.btn-dark {
    background-color: #9B9B9B;
    color: black;
    font-weight: 500;
    border: 1px white;
    border-radius: 5px;
}


table {
    font-weight: 400;
    padding-top: 0;
}

header {
    background: rgb(103, 106, 201);
        background: linear-gradient(90deg, rgba(103, 106, 201, 1) 0%, rgba(9, 9, 121, 1) 100%);
}

table {
    margin: 20px 0;
}

